.fullname {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.searchs {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 50px;
}

.searchs input {
    max-width: 450px;
}

.main {
    width: 100%;
    flex-grow: 1;
}

@media (max-width: 768px) {

    .name,
    .davlat {
        display: none;
    }
    .username{
        font-size: 12px;
    }
    .inputs{
        flex-direction: column;
        gap: 20px;
    }
    .searchs input {
    max-width: 200px;
}
}
.filter{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}